<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ltl>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Trungpv1601\Magento2LTLShipping\Model\Carrier\Shipping</model>
                <name>LTL</name>
                <additional_fees>10%</additional_fees>
                <title>Standard Service</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>T</handling_type>
            </ltl>
        </carriers>
    </default>
</config>